.header-back {

}

.personal-img {
  border-radius: 50%;
  position: absolute;
  width: 400px;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  text-align: center;
}

#banner {
  z-index: 10;
  background-color: #262626;
  width: 100%;
  height: 50px;
  box-shadow: 0px 1px 50px #5E5E5E;
  position: fixed;
}

#banner a {
  font-family: verdana;
  text-decoration: none;
  color: #EDEDED;
}

#banner a :hover {
  color: #BDBDBD;
}

.banner-title {
  color: #EDEDED;
  font-family: verdana;
  font-size: 25px;
  width: 350px;
  margin-top: 6px;
  margin-left: 6px;
  font-weight: bold;
}

.banner-subtitle {
  color: #EDEDED;
  font-family: verdana;
  font-size: 15px;
}

#banner-nav {
  text-align: right;
  margin-right: 10px;
  list-style-type: none; 
}

#banner-nav li {
  height: 50px;
  display: inline;
  padding: 10px;
}